# --- Data, output and tooling paths ---
CARLA_ROOT=<LEAD directory>/3rd_party/CARLA/standard_0916
LEADERBOARD_ROOT=<LEAD directory>/3rd_party/leaderboard/expert/leaderboard
SCENARIO_RUNNER_ROOT=<LEAD directory>/3rd_party/leaderboard/expert/scenario_runner
PY123D_DATA_ROOT=<LEAD directory>/data/lead/123D
LEAD_OUTPUT_DIR_ROOT=<LEAD directory>/outputs

# --- SLURM configs when run mass data collection ---
COLLECT_DATA_MAX_NUM_ATTEMPTS=2
COLLECT_DATA_MAX_NUM_PARALLEL_JOBS=80
COLLECT_DATA_PARTITION=day
COLLECT_DATA_CPUS_PER_TASK=2
COLLECT_DATA_MEM=40gb
COLLECT_DATA_GRES=gpu:1080ti:1
COLLECT_DATA_TIMEOUT=300
COLLECT_DATA_CARLA_BOOT_TIMEOUT=60
COLLECT_DATA_CARLA_BOOT_ATTEMPTS=5

# --- WandB logging intervals during training (gradient steps) ---
WANDB_LOG_FREQUENCY_TRAINING_IMAGES=10000
WANDB_LOG_FREQUENCY_TRAINING_SCALAR=200

# --- Type cehckings  ---
LEAD_RUNTIME_TYPE_CHECKING=true
